@{
    ViewData[index: "Title"] = "Charts";
}

<div class="card mb-3">
    <div class="card-header">
        PieChart
    </div>
    <img src="/Charts/PieChart" asp-append-version="true" width="700" height="700"/>
</div>

<div class="card mb-3">
    <div class="card-header">
        BarChart
    </div>
    <img src="/Charts/BarChart" asp-append-version="true" width="700" height="700"/>
</div>

<div class="card mb-3">
    <div class="card-header">
        LineChart
    </div>
    <img src="/Charts/LineChart" asp-append-version="true" width="700" height="700"/>
</div>


