@{
    ViewData["Title"] = "FeedResult";
}

@section SiteHeader
{
  <!--Autodiscovery of RSS Feeds-->
  <link title="My Site's Feed" href="@Url.Action("RssFeed","FeedResult")" type="application/rss+xml" rel="alternate" />
}


<h1>@ViewData["Title"]</h1>

<form asp-action="RssFeed" asp-controller="FeedResult" method="GET">
  <button class="btn btn-primary" type="submit">Render an RssFeed</button>
</form>