@using DNTCommon.Web.Core

@{
    ViewData["Title"] = "Redirect Url Finder Service";
}

<h1>@ViewData["Title"]</h1>
<code>
    <ul>
        <li>InitialUrl: @ViewBag.InitialUrl</li>
        <li>FinalUrl: @ViewBag.FinalUrl</li>
    </ul>
</code>