@{
    ViewData[index: "Title"] = "Redirect Url Finder Service";
}

<h1>@ViewData[index: "Title"]</h1>
<code>
    <ul>
        <li>InitialUrl: @ViewBag.InitialUrl</li>
        <li>FinalUrl: @ViewBag.FinalUrl</li>
    </ul>
</code>