@{
    ViewData[index: "Title"] = "Persian Date ModelBinder";
}

<h1>@ViewData[index: "Title"]</h1>

<button type="submit" onclick="postData()" class="btn btn-primary">Post Persian Date</button>

@section Scripts
{
    <script type="text/javascript">
        function postData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action(action: "Index", controller: "PersianDateModelBinder")',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8', //'application/json; charset=utf-8', doesn't work here
                data: {
                        PDateTime1: "1397/1/11",
                        GDateTime1: "2018/03/31",
                        PDateTime2: "",
                        GDateTime2: ""
                },
                success: function (response) {
                    alert(JSON.stringify(response, null, ' '));
                }
            });
        }
    </script>
}