@{
    ViewData["Title"] = "Controller Extensions";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="RedirectToCommonHttpClientFactory" asp-controller="ControllerExtensions">
  <button class="btn btn-primary" type="submit">Call RedirectToCommonHttpClientFactory Action Method</button>
</form>