<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ActionResults</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="FeedResult" asp-action="Index">FeedResult</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="OpenSearch" asp-action="Index">OpenSearchResult</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="SitemapResult" asp-action="Index">SitemapResult</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Caching</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="CacheService" asp-action="Index">Cache Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="CacheManagerExtentions" asp-action="Index">CacheManager Extentions</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Drawing</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="TextToImage" asp-action="Index">Text to image</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Http</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="CommonHttpClientFactory" asp-action="Index">Common HttpClient Factory</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="DomainHelperExtensions" asp-action="Index">Domain Helper Extensions</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="DownloaderService" asp-action="Index">Downloader Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="HttpRequestInfo" asp-action="Index">Http Request Info</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="RedirectUrlFinderService" asp-action="Index">Redirect Url Finder Service</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mail</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="WebMailService" asp-action="Index">Web Mail Service</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ModelBinders</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="PersianDateModelBinder" asp-action="Index">Persian Date ModelBinder</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="YeKeModelBinder" asp-action="Index">Ye Ke Model Binder</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mvc</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="ControllerExtensions" asp-action="Index">Controller Extensions</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="MvcActionsDiscovery" asp-action="Index">MVC Actions Discovery</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="ViewRendererService" asp-action="Index">View Renderer Service</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedulers</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="BackgroundQueue" asp-action="Index">Background Queue Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="ScheduledTasks" asp-action="Index">DNTScheduler.Core</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Security</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="AjaxExtensions" asp-action="Index">Ajax Extensions</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="ProtectionProviderService" asp-action="Index">Protection Provider Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="DesCryptoProvider" asp-action="Index">DesCrypto Provider Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="FileNameSanitizerService" asp-action="Index">FileName Sanitizer Service</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="UploadFileExtensions" asp-action="Index">Upload File Extensions</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="AllowUploadSafeFiles" asp-action="Index">Allow Upload Safe Files</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="AntiXss" asp-action="Index">Anti Xss Service</a>
        </li>
    </ul>
</div>