@{
    ViewData["Title"] = "CacheManager Extentions";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-primary" onclick="doCallApi()">Call NoBrowserCacheRequest Action Method</button>

@section Scripts {
   <script type="text/javascript">
        function doCallApi() {
            $.ajax({
                url: "@Url.Action("NoBrowserCacheRequest","CacheManagerExtentions")",
                type: 'GET'
            }).then(function (data, status, xhr) {
                console.log("AllResponseHeaders", xhr.getAllResponseHeaders());
                alert("AllResponseHeaders:\n" + xhr.getAllResponseHeaders());
            }, function (xhr, status, error) {
                console.log({ xhr: xhr, status: status, error: error });
            });
        }
   </script>
}