@{
    ViewData["Title"] = "CommonHttpClientFactory";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="DownloadFile" asp-controller="CommonHttpClientFactory">
  <button class="btn btn-primary" type="submit">Call DownloadFile Action Method</button>
</form>