@{
    ViewData["Title"] = "View Renderer Service";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Render" asp-controller="ViewRendererService" method="GET">
  <button class="btn btn-primary" type="submit">Render a View</button>
</form>

